{% extends "base.html" %}
{% block topBar %}
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">
        <h2><a href="/home">Networx</a></h2>
      </li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="button-group even-3">
      <li id="buttonItem">
        <a href="/logout" class="button">Logout</a>
      </li>
      <li id="buttonItem">
        <a href="/explore" class="button">Explore</a>
      </li>
      <li id="buttonItem">
        <a href="/chat" class="button">NetChat</a>
      </li>
  </div>
</div>
{% endblock %}
{% block body %}
<form method="post">
  {% csrf_token %}
  {{ form }}
  <button type="submit">Save changes</button>
</form>
{% endblock %}
