{% extends "base.html" %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Choose Room</title>
</head>
  {% block topBar %}
  <div class="top-bar">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <h2><a href="/home">Networx</a></h2>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="button-group even-3">
        <li id="buttonItem">
          <a href="/login" class="button">Logout</a>
        </li>
        <li id="buttonItem">
          <a href="/explore" class="button">Explore</a>
        </li>
        <li id="buttonItem">
          <a href="/chat" class="button">NetChat</a>
        </li>
        <li id="buttonItem">
          <a href="/settings" class="button">Settings</a>
        </li>
    </div>
  </div>
  {% endblock %}
  {% block body %}
    What chat room would you like to enter?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>
    {% endblock %}
