{% extends "base.html" %}
{% block topBar %}
<body>
   <div id="title" class="columns small-12 medium-3">
    <div class="top-bar">
      <div class="top-bar-left">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
          <a href="/login">Networx</a>
        </li>
        </ul>
      </div>
      <div class="top-bar-right">
        <a href="/signup" class="button">Sign Up</a>
      </div>
    </div>
  </div>
{% endblock %}
{% block body %}
<h1>Log In</h1>
<form method ="POST">
  {% csrf_token %}
  {{form}}
  <input class="button" type="submit" value="Login"/>
</form>
{% endblock %}
